<section *ngIf="!currentUser" class="info">
  <article class="card">
    <header>
      <h2 class="headline">Welcome</h2>
    </header>
    <div class="content">
      <p>dashboard works!</p>
    </div>
  </article>
</section>

<section *ngIf="currentUser" class="dashboard">

  <app-primary-item
    class="card primary-item"
    *ngFor="let item of combinedItems"
    [item]="item"
    [onDelete]="onDeleteButtonClicked"
    [onEdit]="onEditButtonClicked"></app-primary-item>

  <button (click)="onCreateButtonClicked()">Create Item</button>

</section>

<ngx-smart-modal
  #createItemFormModal
  [dismissable]="false"
  identifier="createItemFormModal"
  (onCloseFinished)="createModalCloseFinished()">
  <h2>Create a new Item</h2>
  <app-item-form
    #createForm
    [types]="types"
    [items]="items"
    [onSubmit]="onModalCreateFormSubmit"
    [buttonText]="'create Item'"
  ></app-item-form>
</ngx-smart-modal>

<ngx-smart-modal
  #editItemFormModal
  [dismissable]="false"
  identifier="editItemFormModal"
  (onCloseFinished)="editModalCloseFinished()">
  <h2>Edit Item</h2>
  <app-item-form
    #editForm
    [items]="items"
    [types]="types"
    [onSubmit]="onEditFormSubmit"
    [buttonText]="'save'"
  ></app-item-form>
</ngx-smart-modal>
