<section *ngIf="!currentUser" class="info">
  <article class="card">
    <h2 class="headline">Welcome</h2>
    <p>dashboard works!</p>
  </article>
</section>

<section *ngIf="currentUser" class="dashboard">

  <article class="card" *ngFor="let item of combinedItems">
    <span *ngIf="item.type" class="icon {{item.type['icon']}}"></span>
    <h2 class="headline">{{ item.title }}</h2>
    <ul>
      <li *ngFor="let child of item.children">{{ child.title }}</li>
    </ul>
  </article>

  <button (click)="onCreateButtonClicked()">Create Item</button>

</section>

