<section *ngIf="!currentUser" class="info">
  <article class="card">
    <h2 class="headline">Welcome</h2>
    <p>dashboard works!</p>
  </article>
</section>

<section *ngIf="currentUser" class="dashboard">

  <app-primary-item class="card primary-item" *ngFor="let item of combinedItems" [item]="item" [onDelete]="onDeleteButtonClicked"></app-primary-item>

  <button (click)="onCreateButtonClicked()">Create Item</button>

</section>

<ngx-smart-modal
  #createItemFormModal
  [dismissable]="false"
  identifier="createItemFormModal"
  (onCloseFinished)="modalCloseFinished()">
  <h2>Create a new Item</h2>
  <app-item-form
    [types]="types"
    [items]="items"
    [onSubmit]="onModalCreateFormSubmit"
  ></app-item-form>
</ngx-smart-modal>
