@import '../../../assets/scss/colors';

section {
  &.dashboard {
    margin: 1em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    gap: 1rem;
    grid-auto-rows: max-content;
  }

  &.info {
    margin: 1em;
  }
}

:host ::ng-deep {
  .nsm-content {
    padding: 0;
  }

  .nsm-dialog-btn-close {
    top: 0;
    right: 0;
    background-color: $dark;
    font-size: 1em;

    &:hover {
      background-color: $highlight;
    }
  }

  .nsm-body {
    display: flex;
    flex-direction: column;

    button {
      font-size: 1.2em;
    }
  }
}
