@import '../../../assets/scss/colors';
@import '../../../assets/scss/breakpoints';

header {
  grid-area: header;
  background-color: $dark;

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "headline profile";

  .app-title {
    grid-area: headline;
    font-size: 1.2rem;
    margin: 0;
    color: $light;
    font-weight: 900;
    text-transform: uppercase;
    text-align: left;
    padding: .5em;

    @media (min-width: $breakpoints_m) {
        font-size: 1.8rem;
    }
  }

  .profile {
    grid-area: profile;
    margin: 1em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    min-width: 80px;

    .profile-image {
      width: 80px;
    }

    .usermenu {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      transition: all 200ms;

      button {
        width: 100%;
      }
    }

    &.logged-in {
      .usermenu {
        transform: translateY(100%);
      }
    }

    &:hover {
      .usermenu {
        transform: translateY(0);
      }
    }
  }
}
