<section class="single-block">
  <div class="wrapper section__signup card">
    <h2>Sign Up</h2>

    <div class="error" *ngIf="error">
      <p>An Error occured.</p>
      <pre>{{error}}</pre>
    </div>

    <div class="signupForm genericForm" [hidden]="success" *ngIf="!currentUser">
      <div class="info">Already have an Account? <a routerLink="/user/login">Go to Login Page.</a></div>

      <form [formGroup]="signupForm" (ngSubmit)="onSignupFormSubmit(signupForm.value)">
        <label for="username">Name</label>
        <input type="text" formControlName="username" id="username" placeholder="John Doe"
          [ngClass]="{'error': username.invalid && username.touched}">
        <p class="error message" *ngIf="username.invalid && username.touched">Your Name has to be at least 3 Digits long.</p>

        <label for="email">E-Mail</label>
        <input type="text" formControlName="email" id="email" placeholder="you@uboot.com"
          [ngClass]="{'error': email.invalid && email.touched}">
        <p class="error message" *ngIf="email.invalid && email.touched">This is not a propper E-Mail Adress.</p>

        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" placeholder="secureandobscure"
          [ngClass]="{'error': password.invalid && password.touched}">
        <p class="error message" *ngIf="password.invalid && password.touched">Try harder!</p>

        <label for="password_confirm">repeat</label>
        <input type="password" formControlName="password_confirm" id="password_confirm" placeholder="secureandobscure"
          [ngClass]="{'error': password_confirm.invalid && password_confirm.touched}">
        <p class="error message" *ngIf="
          password_confirm.touched &&
          signupForm.errors &&
          signupForm.errors.password_missmatch
        ">Passwords don't match.</p>

        <button type="submit" [disabled]="signupForm.invalid">sign up</button>
      </form>

      <div *ngIf="loading" class="loading"><span>loading...</span></div>
    </div>

    <div class="loggedInMessage" *ngIf="currentUser && !success">
      <p>You cannot create an Account while you are logged in, right?</p>
    </div>

    <div class="successMessage" *ngIf="success">
      <p>Welcome {{ currentUser.name}}.</p>
      <p>You have successfully signed up for Zeug.</p>
      <p>We have send you an E-Mail to verify your Account. Just click the Link in it and you are done.</p>
      <p>If you dont get an E-Mail, you can resend it on our <a [routerLink]="['/user/verify']">Verification Page</a></p>
    </div>

  </div>
</section>
