<section class="single-block">
  <div class="wrapper section__login">
    <h2>Login</h2>

    <div class="loginForm genericForm" [hidden]="success" *ngIf="!currentUser">
      <div class="info">Want to create an Account? <a routerLink="/user/signup">Go to our Sign Up Form.</a></div>

      <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit(loginForm.value)">
        <label for="email">E-Mail</label>
        <input type="text" formControlName="email" id="email" placeholder="you@uboot.com" [ngClass]="{'error': email.invalid && email.touched}">
        <p class="error message" *ngIf="email.invalid && email.touched">This is not a propper E-Mail Adress.</p>

        <label for="password">Password</label>
        <input type="password" formControlName="password" id="password" placeholder="secureandobscure" [ngClass]="{'error': password.invalid && password.touched}">
        <p class="error message" *ngIf="password.invalid && password.touched">Try harder!</p>
        <button type="submit" [disabled]="loginForm.invalid">login</button>
      </form>

      <div *ngIf="loading" class="loading"><span>loading...</span></div>
    </div>

    <div class="loggedInMessage" *ngIf="currentUser">
      <p>You are already logged in. <a routerLink="/">Go to Dashboard</a></p>
    </div>

    <div *ngIf="currentUser && !currentUser.emailVerification">
      <p>You have not verified your Account yet.<a [routerLink]="['/user/verify']">Go to the Verification Page</a> to do so.
      </p>
    </div>

  </div>
</section>
