@import '../assets/scss/colors';

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header header"
    "menu main"
    "footer footer";

  .header {
    grid-area: header;
    position: sticky;
    top: 0;
  }

  .mainmenu {
    grid-area: menu;
    background-color: $dark;
  }

  .page {
    grid-area: main;
    background-color: $mid;
  }

  .footer {
    grid-area: footer;
    padding: 1em;
    background-color: $dark;
    color: $light;
  }
}
