@import '../../../assets/scss/colors';

.main-menu {
  grid-area: menu;
  background-color: $dark;
  min-height: 100vh;
  position: sticky;
  top: 0;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
