@import '../../../../assets/scss/colors';

.menu-point {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1em;
  border-radius: 0;

  .icon {
    margin: 0 auto .2em;
    width: 4rem;
    text-align: center;
    font-size: 2em;
    color: $highlight;
  }

  .text {
    font-size: 1em;
    width: auto;
    margin: 0;
    text-align: center;
    color: $white;
  }

  &:hover {
    background-color: $mid;
  }
}
