@import 'reset-css/sass/_reset';
@import './assets/scss/breakpoints.scss';
@import './assets/scss/colors';
@import './assets/scss/variables';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import "~ngx-smart-modal/ngx-smart-modal";


* {
    outline: none;
}

html {
    font-size: 100%;
}

body {
    background-color: $mid;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
    line-height: 1.4;
}

a {
    color: $highlight;
    text-decoration: none;
    border-radius: 3px;
    padding: 2px 4px;
    cursor: pointer;

    &:hover {
        color: $white;
        background-color: lighten($highlight, 20);
    }
}

@import './assets/scss/global';
