<section class="storages">

  <ng-container *ngFor="let storage of combinedStorages">
    <app-primary-storage class="card primary-storage" [storage]="storage"
      [onDelete]="onDeleteButtonClicked" [onEdit]="onEditButtonClicked">
    </app-primary-storage>
  </ng-container>

  <button (click)="onCreateButtonClicked()">Create Storage</button>

</section>

<ngx-smart-modal
  #createStorageFormModal
  [dismissable]="false"
  identifier="createStorageFormModal"
  (onCloseFinished)="createModalCloseFinished()">
  <h2>Create a new Storage</h2>
  <app-storage-form
    #createForm
    [onSubmit]="onModalCreateFormSubmit"
    [buttonText]="'create Storage'"
  ></app-storage-form>
</ngx-smart-modal>

<ngx-smart-modal
  #editStorageFormModal
  [dismissable]="false"
  identifier="editStorageFormModal"
  (onCloseFinished)="editModalCloseFinished()">
  <h2>Edit a new Storage</h2>
  <app-storage-form
    #editForm
    [onSubmit]="onModalEditFormSubmit"
    [buttonText]="'edit Storage'"
  ></app-storage-form>
</ngx-smart-modal>
